<div class="main_about">
    <div class="banner_about">
        <img src="./assets/images/banner.jpg" alt="">
    </div>
    <section class="main_content">
        <div class="cont1">
            <img src="./assets/images/500x500.jpg" alt="">
            <div class="texto1">
                <h2>Bomba estereo</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est ab non cupiditate quam nesciunt ipsa ad
                   Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat quas officia vitae nesciunt dolorem sit dolorum, quis dolor aperiam sed quos neque ipsam ullam id eum aut veniam harum deserunt? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aperiam possimus quae veniam itaque velit veritatis, cupiditate quia nam expedita vitae, modi excepturi ipsum, voluptas inventore ratione eaque saepe incidunt atque! tempore eum dolor velit magni blanditiis at eligendi, veritatis tenetur optio, tempora atque in.</p>
            </div>
            <div class="texto2">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique earum hic ducimus corrupti
                    ratione facere reiciendis porro vitae tenetur quam. Facilis nemo quae voluptate voluptas vel iste!
                    Sapiente, tenetur praesentium. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore aut deleniti voluptatibus quis placeat expedita veritatis, fugit mollitia, atque sapiente voluptatum aliquid voluptate excepturi qui. Aliquam assumenda molestias quisquam eligendi! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum ad voluptate modi quas tenetur dolores pariatur? Exercitationem mollitia cumque omnis quisquam odit eos ipsum fugit atque voluptatibus beatae, quidem dolorem.</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est ab non cupiditate quam nesciunt ipsa ad
                    tempore eum dolor velit magni blanditiis at eligendi, veritatis tenetur optio, tempora atque in.</p>
            </div>
            <img src="./assets/images/Carlos-Sadnees-Bomba-stereo-Aloha-jpg.jpg" alt="">
        </div>
        <h3>The Band</h3>
        <div class="cont2">
            <div class="per">
                <img src="./assets/images/bomba.jpg" alt="">
                <h4>JAIME</h4>
                <span>Lorem ipsum </span>
            </div>
            <div class="per">
                <img src="./assets/images/bomba.jpg" alt="">
                <h4>PACHO</h4>
                <span>Lorem ipsum </span>
            </div>
            <div class="per">
                <img src="./assets/images/bomba.jpg" alt="">
                <H4>JOSE</H4>
                <span>Lorem ipsum </span>
            </div>
            <div class="per">
                <img src="./assets/images/bomba.jpg" alt="">
                <H4>LS</H4>
                <span>Lorem ipsum </span>
            </div>
            <div class="per">
                <img src="./assets/images/bomba.jpg" alt="">
                <H4>SIMON</H4>
                <span>Lorem ipsum </span>
            </div>
        </div>
    </section>
</div>


<style>
    .header_bombaestereo{position:initial; background:#774A89}
    .footer_bombaestereo{margin-top:0}
</style>