<div class="fondo_connected">
    <img loading="lazy" width="auto" height="auto" src="{{ 'conected_fondo.jpg' | asset_img_url: ''}}">
    <div class="connected_content connected_content_morado">
        <h1>#BE-CONNECTED</h1>
        <h3>Music can also be an instrument <br>for change!</h3>
        <p>That`s why we also work toward protecting the environment through creating awareness about the importance of nature and biodiversity. </p>
        <p>We believe that our most valuable contribution to climate change, besides taking responsibility for our own carbon emissions, is working to teach children and develop programs focused on environmental principles and practices.</p>
        <p>We are currently supporting two organizations which work with children in Colombia.</p>
        <h2>Costeno Social Foundation</h2>
        <p>Guachaca is a small coastal town nestled beneath the Sierra Nevada de Santa Marta, the tallest coastal mountain in the world and the home of unparalleled biological and cultural diversity. The Costeño Social Foundation have been doing valuable work with children of the area and we’re supporting their efforts. </p>
        <div class="connected_content_button">
            <a href="#">LEARN MORE</a>
            <a href="#">DONATE NOW</a>
        </div>
        <h2>Ana Valentina Foundation</h2>
        <p>This organization has been working for five years in Ciudad Bolívar, one of the poorest neighborhoods in Bogotá and Boraudo, Chocó, an isolated area in the Pacific Coast, on helping provide educational opportunities and emotional support to children whose families live under extreme conditions due to poverty, displacement by armed violence and exile from Venezuela.</p>
        <p>We’re supporting their efforts.</p>
        <div class="connected_content_button mb-0">
            <a href="#">LEARN MORE</a>
            <a href="#">DONATE NOW</a>
        </div>
    </div>
    <div class="connected_content connected_content_rosado">
        <h4>With the purchase of the Bomba Estereo merch, you’re supporting these projects, a small contribution to make the world a better place!</h4>
        <h4>Thanks!</h4>
    </div>
</div>
<style>
    .header_bombaestereo{position:initial; background:#774A89}
    .footer_bombaestereo{margin-top:0}
</style>