<header class="header_bombaestereo">
  <div class="header_content">
    <nav class="header_menu">
      <ul class="header_menu_ul">
        <li class="header_menu_li">
          <a href="#">THE BAND</a>
        </li>
        <li class="header_menu_li">
          <a href="#">SHOP</a>
        </li>
        <li class="header_menu_li">
          <a href="#">BE CONNECTED</a>
        </li>
        <li class="header_menu_li">
          <a href="#">BE PRESENTS</a>
        </li>
      </ul>
    </nav>
    <div class="header_logo">
      <a href="/"><img loading="lazy" src="../assets/logo.png" width="auto" height="auto" alt=""></a>
    </div>
  </div>
</header>
