<div class="main_content_full">
  <div class="banner">
    <img loading="lazy" width="auto" height="auto" src="{{ 'banner.jpg' | asset_img_url: '300x'}}">
    <div class="banner_info">
      <h1 class="banner_info_title">QUIEN VIENE CONMIGO TOUR</h1>
      <p class="banner_info_subtitle">DEJA TOUR 2022</p>
      <p class="banner_info_link">
        <a href="">BUY TICKETS</a>
      </p>
    </div>
  </div>
</div>
